#########################################################################
# These variables are used for integration tests #
##################################################
SQUARE_BASE_URL = https://connect.squareup.com
SQUARE_SANDBOX_BASE_URL = https://connect.squareupsandbox.com
SQUARE_ACCESS_TOKEN = EAAAEDFfyeoo0XgXi-Dd7ofp_3W6eAcjHMClC3GlQR61xATqdVixe6v4kq21KgnL
###########################
